body {
  margin: 20px;
  background: #f8f8f8;
  font-family: 'Source Sans Pro', system-ui, -apple-system, 'Segoe UI', 'Roboto','Helvetica Neue', "Noto Sans",  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: 900;
  font-size: 40px;
}

button {
  margin-left: 10px;
}

.button-group {
  margin-left: 10px;
}

#list-heading {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;

}

#new-win-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#new-win-input {
  flex-grow: 2;
}

.win-item {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.win-item:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
}

.wins-list {
  margin: 10px 0;
  list-style: none;
  
}

.wins-list .win-item {
  padding: 15px;
  margin: 5px 0; 
}

.win-label {
  margin: 0;
  flex-grow: 2;
  text-transform: capitalize;
}


